@charset "UTF-8";
/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

/* header */
header {
  width: 90%; /*横幅90%*/
  padding: 12px 0;
  margin: 0 auto; 
  text-align: center;
}

header .heading {
  font-size: 32px;
}

/* navigation */
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/* main-visual */
.main-visual {
  width: 100%; /*横幅いっぱい*/
  height: 300px; /*高さ300px*/
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%; /*横幅40%で固定*/
  height: inherit; /*高さは親要素を継承*/
  background-color: rgba(0, 0, 0, 0.5); /*背景色を半透明の黒にする*/
}


/* main */
.main {
  width: 840px; /*横幅840px*/
  display: flex; /*Flexboxの利用*/
  justify-content: center; /*子要素の横並び・中央寄せ*/
  margin: 0 auto; /*中央寄せ*/
}

.blog {
  width: 600px; /*横幅600px*/
  height: 1400px; /*高さ1400px*/
}

.sidebar {
  width: 240px; /*横幅240px*/
  height: 1400px; /*高さ1400px*/
}

/* footer */
footer {
  width: 100%; /*横幅いっぱい*/
  height: 120px; /*高さ120px*/
  text-align: center;
  background-color: #848482; /*背景色＝グレー*/
}

.footer-text {
  line-height: 120px;
  color: #fff; /*文字色＝白*/
}