@charset "UTF-8";
/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%; /*横幅いっぱい*/
  height: 120px; /*高さ120px*/
  background-color: #ff0000; /*背景色＝赤*/
}

.main-visual {
  width: 100%; /*横幅いっぱい*/
  height: 300px; /*高さ300px*/
  background-color: #ffa500; /*背景色＝オレンジ*/
}

.main {
  width: 100%; /*横幅いっぱい*/
  height: 1400px; /*高さ1400px*/
  background-color: #008000; /*背景色＝グリーン*/
}

.footer {
  width: 100%; /*横幅いっぱい*/
  height: 120px; /*高さ120px*/
  background-color: #0000ff; /*背景色＝ブルー*/
}