@charset "UTF-8";
/* リセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%; /*横幅いっぱい*/
  height: 120px; /*高さ120px*/
  background-color: #ff0000; /*背景色＝赤*/
}

.header-top {
  width: 100%; /*横幅いっぱい*/
  height: 70px; /*高さ70px*/
  background-color: #ff69b4; /*背景色＝ホットピンク*/
}

.header-bottom {
  width: 100%; /*横幅いっぱい*/
  height: 50px; /*高さ50px*/
  background-color: #ffc0cb; /*背景色＝ピンク*/
}

/* main-visual */
.main-visual {
  width: 100%; /*横幅いっぱい*/
  height: 300px; /*高さ300px*/
  background-color: #ffa500; /*背景色＝オレンジ*/
}

.main-visual-content {
  width: 350px; /*横幅350px*/
  height: inherit; /*高さは親要素を継承*/
  background-color: #ffd700; /*背景色＝ゴールド*/
}

/* main */
.main {
  width: 100%; /*横幅いっぱい*/
  height: 1400px; /*高さ1400px*/
  background-color: #008000; /*背景色＝グリーン*/
}

.blog {
  width: 600px; /*横幅600px*/
  height: 600px; /*高さ600px*/
  background-color: #32cd32; /*背景色＝ライムグリーン*/
}

.sidebar {
  width: 240px; /*横幅240px*/
  height: 600px; /*高さ600px*/
  background-color: #98fb98; /*背景色＝ペイルグリーン*/
}

/* footer */
.footer {
  width: 100%; /*横幅いっぱい*/
  height: 120px; /*高さ120px*/
  background-color: #0000ff; /*背景色＝ブルー*/
}